node_modules
/build
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.face-service-url.json
google-services.json
google-servicess.json
serviceAccountKey.json
serviceAccountKeys.json
/downloads
/bin
